version: 1
validation: sovereign
accounts: 
- name: distribute
  coins:
  - 1000000000uOPT
  address: optio13zj88zcylclhevtsztx0kdgf9a5zyskt4utffh
- name: alice
  coins:
  - 15000000uOPT
client:
  openapi:
    path: docs/static/openapi.yml
validators:
- name: alice
  bonded: 5000000uOPT
genesis:
  chain_id: optio-testnet
  app_state:
    staking:
      params:
        bond_denom: uOPT
    gov:
      params:
        expedited_min_deposit:
          - amount: "2000000"
            denom: uOPT
        expedited_voting_period: 119s
        min_deposit:
          - amount: "1000000"
            denom: uOPT
        voting_period: 120s
